.select__box {
  display: flex;
  gap: 1rem;

  width: 50%;
  margin: 0 auto;
}

.select__box select {
  padding: 0.35rem;
  width: 15rem;
  outline: none;
}

.show__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

.highlight {
  font-weight: bold;
  font-size: 24px;
}

.select-style {
  color: grey;
}